# Environment
.env

# Database
db.sqlite3

# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
local_settings.py

# Distribution / packaging
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
